.room {
  color: #b4b4b4;
  width: 240px;
  height: 250px;
  background-color: rgba(8, 8, 49, 0.72);
  border: rgb(240, 255, 246) solid 2px;
  text-align: center;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.temperatureStatus {
  display: inline-block;
}

.temperatureStatus:hover {
  color: rgba(0, 200, 64, 0.75);
  transition: .5s;
}

.humidityStatus {
  display: inline-block;
  padding-left: 10px;
}

.humidityStatus:hover {
  color: rgba(0, 162, 200, 0.75);
  transition: .5s;
}
.humidityStatus i {
  font-size: 13px;
  margin-right: 3px;
}

.heaterStatus {
  float: left;
  cursor: pointer;
  height: 37px;
}

.heaterStatus span {
  font-size: 27px;
  margin-left: 8px;
}

.heaterStatus > span:hover {
  transition: 1s;
  color: coral;
}

.heaterStatus > span:after {
  content: '\1F525';
}

.not-heat > span:after {
  font-size: 30px;
  content: '\2746';
}

.not-heat > span:hover {
  transition: 1s;
  color: #0cdecb;
}

.room.not-alive {
  color: #6e6e6e;
  background: #A7A7A7;
  border: 2px solid coral;
  pointer-events: none;
}

.not-alive .status {
  content: '\21BB';
}

.not-alive .turnOff {
  background-color: #7a7a7a;
}

.not-alive .buildChart {
  pointer-events: all;
}

.changeTemp {
  height: 50px;
}

.changeTemp i {
  cursor: pointer;
  height: 50px;
  font-size: 50px;
}

.changeTemp i:hover {
  color: #b55b3b;
  transition: 1s;
}

.changeTemp.off {
  pointer-events: none;
  color: #6e6e6e;
}

.buildChart {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-top: -5px;
  font-size: 40px;
  float: right;
  cursor: pointer;
}

.buildChart:hover {
  color: #0c917f;
  transition: 1s;
}

.newTemp {
  font-size: 40px;
  height: 62px;
  width: 90px;
}

.newTemp:hover {
  color: white;
  transition: 1s;
}

.roomStat {
  float: left;
  margin-left: 10px;
  font-size: 14px;
}

.isAuto {
  float: left;
}

.isAuto span:after {
  content: 'Follow';
  color: #88cb29;
}

.auto span:after {
  padding-left: 11px;
  padding-right: 11px;
  content: 'Off';
  color: #cb0000;
}

.heater {
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-left: 4px
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

.heater:hover .tooltiptext {
  visibility: visible;
}
.buildChart:hover .tooltiptext {
  visibility: visible;
}
.temperatureStatus:hover .tooltiptext {
  visibility: visible;
}
.humidityStatus:hover .tooltiptext {
  visibility: visible;
}
