.room {
  width: 400px;
  height: 400px;
  background-color: rgba(62, 78, 178, 0.49);
  border: rgb(240, 255, 246) solid 2px;
  text-align: center;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.room.not-alive {
  background: #A7A7A7;
  border: 2px solid coral;
}

.not-alive .minusT {
  pointer-events: none;
  background-color: #b2bfc0;
  color: gray;
}

.not-alive .plusT {
  pointer-events: none;
  background-color: #b2bfc0;
  color: gray;
}

.not-alive .goodT {
  pointer-events: none;
  background-color: #b2bfc0;
  color: gray;
}

.not-alive .turnOff {
  pointer-events: none;
  background-color: #b2bfc0;
  color: gray;
}

.plusT {
  background-color: #ff8e00;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.minusT {
  background-color: rgba(17, 215, 233, 0.66);
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.goodT {
  background-color: #12a909;
  width: 40%;
  height: 30px;
  border-radius: 20%;
}

.turnOff {
  background-color: rgba(187, 57, 48, 0.78);
}

.getStat > button {
  background-color: #20b1b2;
  width: 50%;
  height: 50px;
  color: white;
  padding: 0px;
}

.newTemp{
  font-size: 20px;
}
