#temperature {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.24) 35%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
}

#humidity {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.24) 35%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
}

#co2 {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.24) 35%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
}

.changeDay {
  cursor: pointer;
  border: 0px;
  color: white;
  margin: 20px;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 104, 111, 0.86);
}

.changeDay span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.changeDay span:hover {
  padding-right: 25px;
}

.changeDay span:after {
  font-size: 20px;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -4px;
  right: -22px;
  transition: 0.5s;
  padding-right: 25px;
}

.changeDay span:hover:after {
  opacity: 1;
}
