<div [ngClass]="{'hide': !isShowDetail}">
  <div class="buttons">
    <button (click)="chacngeChart(1)" class="changeDay"><span>ONE DAY</span></button>
    <button (click)="chacngeChart(2)" class="changeDay"><span>TWO DAYS</span></button>
    <button (click)="chacngeChart(7)" class="changeDay"><span>ONE WEEK</span></button>
    <button (click)="chacngeChart()" class="changeDay"><span>ONE MONTH</span></button>
    <!--<button (click)="clearCanv()" class="changeDay"><span>CLEAR</span></button>-->
  </div>
  <div>
    <canvas id="temperature" style="width: 100%; height: 400px;">{{ tempChart }}</canvas>
  </div>
  <div>
    <canvas id="humidity" style="width: 100%; height: 400px">{{ humidityChart }}</canvas>
  </div>
  <div>
    <canvas id="co2" style="width: 100%; height: 400px">{{ co2Chart }}</canvas>
  </div>
</div>
