<!--<div class="chartSetter">-->
<!--<mat-form-field>-->
<!--<input #from matInput [matDatepicker]="picker1" placeholder=" " >-->
<!--FROM DATE-->
<!--<mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker1></mat-datepicker>-->
<!--</mat-form-field>-->
<!--<br>-->
<!--<mat-form-field>-->
<!--<input #to matInput [matDatepicker]="picker" placeholder=" ">-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--TO DATE-->
<!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->
<!--<br>-->
<!--<button (click)="reset()" class="reset waves-effect waves-yellow"><span>Reset</span></button>-->
<!--<button (click)="chacngeChart()" class="change waves-effect waves-purple"><span>Build Chart</span></button>-->
<!--<br>-->
<!--</div>-->


<div [ngClass]="{'hide': !isShowDetail}">
  <div class="buttons">
    <button (click)="chacngeChart(1)" class="changeDay"><span>ONE DAY</span></button>
    <button (click)="chacngeChart(2)" class="changeDay"><span>TWO DAYS</span></button>
    <button (click)="chacngeChart(7)" class="changeDay"><span>ONE WEEK</span></button>
    <button (click)="chacngeChart()" class="changeDay"><span>ONE MONTH</span></button>
  </div>
  <div *ngIf="tempChart">
    <canvas id="temperature" style="width: 100%; height: 400px">{{ tempChart }}</canvas>
  </div>
  <div *ngIf="humidityChart">
    <canvas id="humidity" style="width: 100%; height: 400px">{{ humidityChart }}</canvas>
  </div>
  <div *ngIf="co2Chart">
    <canvas id="co2" style="width: 100%; height: 400px">{{ co2Chart }}</canvas>
  </div>
</div>
