#temperature {
  position: relative;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.24) 35%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
  width: 95% !important;
  height: 600px !important;
}

#humidity {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.24) 35%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
  width: 95% !important;
  height: 600px !important;
}

#co2 {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.24) 35%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
  width: 95% !important;
  height: 600px !important;
}

.changeDay {
  cursor: pointer;
  border: 0;
  color: white;
  margin: 20px;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 104, 111, 0.86);
}

.changeDay span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.changeDay span:hover {
  padding-right: 25px;
}

.changeDay span:after {
  font-size: 20px;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -4px;
  right: -22px;
  transition: 0.5s;
  padding-right: 25px;
}

.changeDay span:hover:after {
  opacity: 1;
}

.pagination i {
  color: #0c917f;
  position: fixed;
  cursor: pointer;
  height: 30px;
  font-size: 30px;
}

.pagination i:hover {
  color: #0cdecb;
  transition: 1s;
}

.pagination.unclickable i {
  color: #6e6e6e;
  pointer-events: none;
}

.timeLine {
  width: 95%;
  height: 10px;
  background-color: rgba(182, 182, 182, 0.45);
}

.timeLine span {
  float: left;
  transition: 1s;
  height: 10px;
  background-color: #0cdecb;;
  position: relative;
}
